<div id="fit_contents_below_menu">
  <div class="hero" style="width: auto;">
    <div class="hero-head">
      <div class="level fixed-sub-element-title has-text-centered">
        <span class="level-item heading is-size-4 has-text-white">&nbsp;</span>
      </div>
      <div class="level fixed-sub-element-details has-text-centered has-text-white">
          <span class="level-item has-text-white">&nbsp;</span>
      </div>
    </div>
    <div class="hero-body">
      <div id="view_form_box" class="box">
        <div>
          <p class="title">Login</p>
          <% if flash[:error] %>
            <div class="notification">
              <%= flash[:error] %>
              <p>Would you like to <%= link_to  "create a new user profile?", new_user_path %></p>
            </div>
          <% end %>
          <%= form_tag login_path do %>
            <div class="field">
              <%= label_tag :email, nil, class: "label" %>
              <div class="control has-icons-left has-icons-right">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>

                <%= email_field_tag :email, nil, placeholder: 'example@example.com', class: "input" %>

              </div>
            </div>

            <div class="field">
              <%= label_tag :password, nil, class: "label" %>
              <div class="control has-icons-left">
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>

                <%= password_field_tag :password, nil, placeholder: 'Password', class: "input" %>

              </div>
            </div>
            <div class="level">
              <span class="level-left">
                <%= submit_tag "Login", class: "button level-item is-primary is-outlined" %>
              </span>
              <span class="level-item">
                <span class="level-item">&nbsp;or&nbsp;</span>
              </span>
              <span class="level-right">
                <%= link_to "Sign Up", new_user_path, class: "button level-item is-primary is-outlined" %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>