<h1>New User Sign Up</h1>

<% if flash[:message] %>
  <p>
    <%= flash[:message] %>
  </p>
<% end %>

<%= form_for @user do |f| %> 
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>
   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
   <%= f.label :phone_number %>
   <%= f.text_field :phone_number %>
   <%= f.label :email %>
   <%= f.text_field :email %>
   <%= f.label :password %>
   <%= f.password_field :password %>
   <%= f.label :password_confirmation %>
   <%= f.password_field :password_confirmation %>
  <%= f.submit 'Create User'%>
<% end %>
