<%  track_active = nil

    if !@user.events.empty?
      heading_message = "Your Check-ins"
    else
      heading_message = "No Check-ins to Display"
    end
%>

<% if flash[:notice] %>
<div class="notification is-warning">
    <%= flash[:notice] %>
</div>
<% end %>

<div id="view_page_container" class="container">
  <div id="view_form_box" class="box">
    <p class="title">Hello, <%= @user.full_name %></p>
    <p class="heading"><%= heading_message %></p>
    <div style="overflow-y: auto;">
      <% @user.check_ins.reverse.each do |check_in| %>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <%= check_in.event.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <%= check_in.event.venue.name.titleize %><br />
              <time datetime="<%= check_in.event.start_time %>"><%= check_in.event.start_time %></time>
            </div>
          </div>
          <footer class="card-footer">
            <!-- <%= link_to "Rate", check_in.event, class: "button card-footer-item is-primary is-outlined"%>
            <%= link_to "Browse", events_path, class: "button card-footer-item is-info is-outlined"%> -->
            <% if check_in.active && @user_match %>
              <%= link_to "Check Out", user_check_out_path(check_in), method: :delete, class: "button card-footer-item is-danger is-outlined"%>
              <% track_active ||= true %>
            <% else %>
              <span class="card-footer-item"><%= "#{' '}" %></span>
            <% end %>
          </footer>
        </div>
      <% end %>
      <%  if track_active
            more_string = " More "
          else
            more_string = ""
          end
          upsell_message = "Browse #{more_string} Events"
      %>
      <%= link_to upsell_message, events_path, class: "button card-footer-item is-info is-outlined" %>
    </div>
  </div>
</div>