<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>What's Poppin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="level fixed-element">
      <% if !@current_user %>
        <!-- only show the title centered if not logged in -->
        <div class="level-item heading is-size-3">
          <span class="has-text-light">What's Poppin'</span>
        </div>
      <% else %>
        <!-- display all of the menu if logged in -->
        <!-- left side -->
        <div class="level-left">
          <p class="level-item heading is-size-3"><%= link_to "What's Poppin'", events_path, class: "has-text-light" %></p>
        </div>
        <!-- center -->
        <div class="level-item">
          <%= link_to "Events", events_path, class: "heading has-text-centered has-text-white" %>
        </div>
        <div class="level-item">
          <%= link_to "Venues", venues_path, class: "heading has-text-centered has-text-white" %>
        </div>
        <div class="level-item">
          <%= link_to "Neighborhoods", neighborhoods_path, class: "heading has-text-centered has-text-white" %>
        </div>
        <!-- right -->
        <div class="level-right">
          <%= link_to @current_user.full_name.titleize, user_path(@current_user), class: "button level-item is-outlined"%>
          <%= link_to "Logout", logout_path, method: :delete, class: "button level-item is-outlined"%>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>